/* Start Variables */
:root {
    font-size: 10px;
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
/* End Variables */
/* Start Main Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Spartan', sans-serif;
}
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) {
    .container {
    max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
    max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
    max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
    max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
    max-width: 1320px;
    }
}
/* End Main Rules */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    padding-top: 10rem;
    padding-bottom: 10rem;
    min-height: 100vh;
    background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position:top left, bottom right;
    overflow: hidden;
}
@media (max-width: 991px) {
    main {
        background-color: var(--White);
        background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
        background-repeat: no-repeat;
        background-position:top left, bottom right;
    }
}
main .social .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.2rem;
}
@media (max-width: 991px) {
    main .social .top {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 4.9rem;
    }
}
main .social .top .text {
    width: 44%;
}
@media (max-width: 991px) {
    main .social .top .text {
        width: 83%;
        text-align: center;
    }
}
main .social .top .text h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 4.8rem;
    letter-spacing: -2px;
    font-weight: 700;
}
@media (max-width: 991px) {
    main .social .top .text h1 {
        font-size: 3.2rem;
        padding-bottom: 1.8rem;
    }
}
main .social .top .text p {
    padding-top: 1.5rem;
    color: var(--Dark-Grayish-Magenta);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1.5;
}
main .social .top .rating .rating-box {
    background-color: var(--Light-Grayish-Magenta);
    padding: 1.5rem 4rem;
    margin-bottom: 1.6rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--Very-Dark-Magenta);
}
@media (max-width: 991px) {
    main .social .top .rating .rating-box {
        padding: 1.5rem 7rem;
    }
}
main .social .top .rating .rating-box .rating-stars {
    margin-right: 3.2rem;
    margin-left: -1rem;
}
main .social .top .rating .rating-box .rating-stars img {
    margin-left: 0.5rem;
}
@media (max-width: 575px) {
    main .social .top .rating .rating-box .rating-text {
        font-size: 1.2rem;
    }
}
@media (max-width: 991px) {
    main .social .top .rating {
        padding-top: 4rem;
    }
    main .social .top .rating .rating-box {
        flex-direction: column;
    }
    main .social .top .rating .rating-box .rating-stars {
        margin: 0 auto 1rem;
    }
}
main .social .top .rating .box1{
    transform: translateX(-8rem);
}
main .social .top .rating .box2{
    transform: translateX(-4rem);
}
@media (max-width: 991px) {
    main .social .top .rating .box1,
    main .social .top .rating .box2 {
        transform: translateX(0);
    }
}
main .social .review {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
}
@media (max-width: 991px) {
    main .social .review {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }
}
main .social .review .box2 {
    margin: 0 3rem;
    transform: translateY(4rem);
}
main .social .review .box3 {
    transform: translateY(8rem);
}
@media (max-width: 991px) {
    main .social .review .box2 {
        margin-left: 0;
        margin-right: 0;
        transform: translateY(0);
    }
    main .social .review .box3 {
        transform: translateY(0);
    }
}
main .social .review .review-customer {
    background-color: var(--Very-Dark-Magenta);
    border-radius: 0.8rem;
    padding: 4rem 3.2rem;
}
@media (max-width: 991px) {
    main .social .review .review-customer {
            margin-bottom: 1.6rem;
            max-width: 50%;
            min-width: 32.5rem;
        }
    }
main .social .review .review-customer .info {
    display: flex;
    align-items: center;
}
main .social .review .review-customer .info .avatar {
    width: 4rem;
    border-radius: 50%;
    margin-right: 2.3rem;
}
main .social .review .review-customer .info h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--White);
}
main .social .review .review-customer .info h2 span {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--Soft-Pink);
    margin-top: 0.5rem;
}
main .social .review .review-customer .text {
    padding-top: 2.6rem;
}
main .social .review .review-customer .text h4 {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--White);
    line-height: 1.6;
}
